.App-header {
  text-align: center;
  background-color: #222;
  padding: 10px;
  color: white;
}

.Todo {
  width: 100%;
  margin-top: 20px;
  padding: none;
}

.Todo-App,
.Todo-List,
.Todo-Footer {
  width: 20%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


li {
  list-style: none;
}

li span.delete-item {
  visibility: hidden;
}

span.delete-item a {
  text-decoration: none;
  color: red;
}

li:hover span.delete-item {
  visibility: visible;
}

a {
  text-decoration: none;
  padding: 5px;
}

.Todo-Footer a.active {
  font-weight: bold;
}